version: '3.8'
services:
  php-tests:
    build:
      context: .
      dockerfile: Dockerfile.test
    container_name: php-sdk-tests
    # Монтируем локальную директорию с кодом в /app контейнера
    volumes:
      - .:/app
    command: sh -c "composer install --no-interaction && composer test"

    # тесты запускать командой docker compose -f docker-compose.test.yml up --build и не забыть поменять в файлах {Entity}ApiTest сервер и логин/пароль или задавать их через env в консоли